<div class="col-lg-6 col-md-12">
    <h1>Actualiza tus datos</h1>
    <div *ngIf="alertMessage" class="alert alert-warning" role="alert">
        {{alertMessage}}
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12" action="">
        <p>
            <label for="">Nombre:</label>
            <input type="text" #nameToUpdate="ngModel" class="form-control" name="name" [(ngModel)]="user.name"
                required />
        </p>
        <div *ngIf="!nameToUpdate.valid && nameToUpdate.touched" class="alert alert-info" role="alert">El nombre es
            obligatorio</div>
        <p>
            <label for="">Apellidos:</label>
            <input type="text" #surnameToUpdate="ngModel" class="form-control" name="surname"
                [(ngModel)]="user.surname" />
        </p>
        <p>
            <label for="">Correo electrónico:</label>
            <input type="text" #emailField="ngModel" class="form-control" name="email" [(ngModel)]="user.email"
                required />
        </p>
        <div *ngIf="!emailField.valid && emailField.touched" class="alert alert-info" role="alert">El email es
            obligatorio</div>

        <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
            <img class="col-sm-12 col-md-6 col-lg-6" src="{{url + 'user/image/' + user.image}}" />
        </div>

        <p>
            <label for="">Sube tu foto: </label><br>
            <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
        </p>
        <!-- <p>
            <label for="">Contraseña:</label>
            <input type="password" #passwordToRegister="ngModel" class="form-control" name="password"
                [(ngModel)]="user.password" required />
        </p>
        <div *ngIf="!passwordToRegister.valid && passwordToRegister.touched" class="alert alert-info" role="alert">La
            contraseña es obligatoria</div> -->
        <input type="submit" value="Actualizar mis datos" class="btn btn-primary" />
    </form>
</div>