<div class="app row">
  <div *ngIf="token" class="navigation col-lg-1">

    <h1 class="head-title">
      <a [routerLink]="['/']">
        <img src="../favicon.ico" style="width: 75%;" />{{title}}
      </a>
    </h1>
    <nav class="col-sm-12 col-md-12 col-lg-12" id="navigation">
      <a href="#">
        <div class="fa fa-search" aria-hidden="true"></div>Buscar
      </a>
      <a href="#">
        <div class="fa fa-user" aria-hidden="true"></div>Artistas
      </a>
      <a href="#">
        <div class="fa fa-user-circle-o" aria-hidden="true"></div>Albumes
      </a>
    </nav>
    <nav id="loggedUser">
      <div class="userImage">
        <img id="userImage" src="{{url + 'user/image/' + identity.image}}" style="width: 50px; height: 50px;" />
      </div>
      <span>{{identity.name}}</span>
      <a [routerLink]="['/mis-datos']">
        <span class="fa fa-cog" aria-hidden="true"></span>Mis datos
      </a>
      <a (click)="logout()">
        <span class="fa fa-power-off" aria-hidden="true"></span>Salir
      </a>
    </nav>
  </div>

  <div *ngIf="identity" class="col-lg-10">
    <router-outlet></router-outlet>
  </div>

  <div class="row col-lg-12" *ngIf="!identity">
    <div class="col-lg-6">
      <h1>Identifícate</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12" action="">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <strong>¡Error!</strong> {{errorMessage}}
        </div>
        <div *ngIf="!email.valid && email.touched" class="alert alert-info" role="alert">El email es obligatorio</div>

        <p>
          <label for="">Correo electrónico:</label>
          <input type="email" #email="ngModel" class="form-control" name="email" [(ngModel)]="user.email" required />
        </p>

        <p>
          <label for="">Contraseña:</label>
          <input type="password" #password="ngModel" class="form-control" name="password" [(ngModel)]="user.password"
            required />
        </p>

        <input type="submit" value="Entrar" class="btn btn-primary" />
      </form>
    </div>

    <div class="col-lg-6">
      <h1>Regístrate</h1>
      <div *ngIf="registrationSuccessful" class="alert alert-info" role="alert">
        <strong>¡Te has registrado correctamente! Identifícate.</strong>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="signIn()" class="col-lg-12" action="">
        <p>
          <label for="">Nombre:</label>
          <input type="text" #nameToRegister="ngModel" class="form-control" name="name"
            [(ngModel)]="userToRegister.name" required />
        </p>
        <div *ngIf="!nameToRegister.valid && nameToRegister.touched" class="alert alert-info" role="alert">El nombre es
          obligatorio</div>
        <p>
          <label for="">Apellidos:</label>
          <input type="text" #surnameToRegister="ngModel" class="form-control" name="surname"
            [(ngModel)]="userToRegister.surname" />
        </p>
        <p>
          <label for="">Correo electrónico:</label>
          <input type="text" #emailToRegister="ngModel" class="form-control" name="email"
            [(ngModel)]="userToRegister.email" required />
        </p>
        <div *ngIf="!emailToRegister.valid && emailToRegister.touched" class="alert alert-info" role="alert">El email es
          obligatorio</div>
        <p>
          <label for="">Contraseña:</label>
          <input type="password" #passwordToRegister="ngModel" class="form-control" name="password"
            [(ngModel)]="userToRegister.password" required />
        </p>
        <div *ngIf="!passwordToRegister.valid && passwordToRegister.touched" class="alert alert-info" role="alert">La
          contraseña es obligatoria</div>
        <input type="submit" value="Registrarse" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>