html, body {
    margin: 0px;
    height: 100%;
    background-color: #eeeeee;
}

.app {
    height: 100%;
    width: 100%;
}

.head-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation {
    text-align: center;
    color: white;
    background-color: #1c1c1f;
    height: 100%;
}

.navigation a {
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation a:hover {
    color: white;
}

.navigation .fa {
    font-size: 25px;
    width: 100%;
}

#loggedUser {
    text-align: center;
    position: absolute;
    bottom: 0%;
    margin-left: 6.25%;
    padding-top: 20px;
    border-top: 1px solid #444;
    width: 75%;
}